<md-list class="scores">
	<md-list-item ng-repeat="score in vm.scores">
	    <div layout="row" layout-fill>
			<div flex="10" layout="row" layout-sm="column">
				<div flex="90" class="game-date">{{score.date|date}}</div>
				<div flex="10" class="game-win">
					<i class="fa fa-trophy" ng-if="score.isWin"></i>
				</div>
			</div>
			<div flex="40" class="game-team left">{{score.homeTeam}}</div>
			<div flex="10" layout="row">
				<div flex="45">
					<div class="game-score">{{score.homeScore}}</div>
				</div>
				<div flex="10" class="game-vs">-</div>
				<div flex="45">
					<div class="game-score">{{score.awayScore}}</div>
				</div>
			</div>
			<div flex="40" class="game-team">{{score.awayTeam}}</div>
	    </div>
	</md-list-item>
</md-list>