h1 {
	text-transform: uppercase;
}

#banner {
	height: 300px;
	color: white;
	background: rgb(63,81,181);
}
#banner h1 {
	margin-left: 1em;
}

.player-card {
	width: 400px;
	display: inline-block;
	overflow: hidden;
	margin: 1em;
}

.player-card h1 {
	margin: 0;
	font-size: 1.5em;
}

.scores {
	line-height: 2em;
}

.scores .game:nth-child(even) {
	background-color: rgba(63,81,181, 1);
	color: white;
}

.game-win {
	text-align: center;
}

.game-win i {
	color: white;
	width: 2em;
	height: 2em;
	line-height: 2em;
	background-color: rgb(255, 64, 129);
	border-radius: 50%;
}

.game-score {
	text-align: center;
	color: dimgray;
	background-color: lightgray;
}

.game-team {
	padding: 0 0.5em;
}

.game-team.left {
	text-align: right;
}

.game-vs {
	text-align: center;
}