h1 {
	text-transform: uppercase;
}
.game-win {
	text-align: center;
}

.game-win i {
	color: white;
	width: 2em;
	height: 2em;
	line-height: 2em;
	background-color: gold;
	border-radius: 50%;
}

.game-score {
	text-align: center;
	line-height: 2em;
	color: dimgray;;
	background-color: lightgray;
}

.game-team {
	padding: 0 0.5em;
}

.game-team.left {
	text-align: right;
}

.game-vs {
	text-align: center;
}