* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

body {
    font-size: 160px;
    background-color: #ccc;
    text-align: center;
    overflow: hidden;
}

.veld {
    width: 100%;/* normally for a height of 6em it should be 8em*/
    height: 6em;
    background: green;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.25) 50%);
    background-size: 100% 1em;
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
}

.kalk {
    border: 0.05em solid rgba(255,255,255,0.90);
}

.grote-baklijn {
    width: 55%;/*4.4em;*/
    height: 1.8em;
    margin: 0 auto;
    border-top: none;
}

.kleine-baklijn {
    width: 45.45%;/*2em;*/
    height: 0.6em;
    margin: 0 auto;
    border-top: none;
}

.midden-cirkel {
    width: 25%;/*2em;*/
    height: 2em;
    border-radius: 50%;
    /*margin: calc(60% - 1em) auto; */
    margin: 3.1em auto;
}